:root {
  /* colors */
  --color-white: hsl(0, 100%, 100%);
  --color-grey-900: hsl(217, 19%, 35%);
  --color-grey-500: hsl(214, 17%, 51%);
  --color-grey-400: hsl(212, 23%, 69%);
  --color-grey-200: hsl(210, 46%, 95%);
  /* typography */
  --font-family-base: 'Manrope', sans-serif;
  --font-weight-base: 500;
  --font-weight-bold: 700;
  --font-size-base: 16px;
  --line-height-base: 1.4;
  /* spacing */
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1300: 6.5rem;
  --spacing-2000: 10rem;
}

html {
  box-sizing: border-box;
  background-color: var(--color-grey-200);
  color: var(--color-grey-500);
  font: var(--font-weight-base) var(--font-size-base) / var(--line-height-base)
    var(--font-family-base);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 0.8125rem;
}

.article-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-inline: var(--spacing-300);
  box-shadow: 0 var(--spacing-500) var(--spacing-500) -0.625rem rgba(201, 213, 225, 0.5);
  border-radius: 0.625rem;
  max-width: 45.625rem;
  background-color: var(--color-white);
}

.article-image {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  object-position: left;
}

.article-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding: var(--spacing-400) 1.875rem 1.125rem;
}

.article-title {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
  letter-spacing: 1.5625%;
  color: var(--color-grey-900);
}

.article-description {
  letter-spacing: 0.12%;
  color: var(--color-grey-500);
}

.article-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--spacing-300);
}

.author-avatar {
  display: flex;
  gap: var(--spacing-200);
  align-items: center;

  & img {
    border-radius: 50%;
    width: var(--spacing-500);
    height: var(--spacing-500);
    object-fit: cover;
  }

  & figcaption {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.12%;
  }

  & .author-name {
    color: var(--color-grey-900);
  }

  & .publish-date {
    color: var(--color-grey-400);
  }
}

#share-btn {
  display: inline-block;
  border: none;
  border-radius: 50%;
  width: var(--spacing-400);
  height: var(--spacing-400);
  background-color: var(--color-grey-200);
  color: var(--color-grey-500);
  cursor: pointer;
  position: relative;
  z-index: 20;

  &:hover:not(.active),
  &.active {
    background-color: var(--color-grey-500);
    color: var(--color-white);
  }

  &.active:hover {
    background-color: var(--color-grey-200);
    color: var(--color-grey-500);
  }
}

#share-popup {
  position: absolute;
  z-index: 10;
  inset: auto 0 0 0;
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  padding: 1.375rem 1.875rem;
  background-color: var(--color-grey-900);
  line-height: 2rem;

  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s linear 0s;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0.75rem);
    transition: opacity 0.4s ease, transform 0.4s ease,
      visibility 0s linear 0.4s;
  }

  & .share-title {
    margin-right: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 25%;
    color: var(--color-grey-400);
  }
}

@media (min-width: 48rem) {
  .article-card {
    flex-direction: row;
    margin-inline: var(--spacing-1000);
    overflow: visible;
  }

  .article-image {
    min-width: 14.375rem;
    height: auto;
    object-fit: fill;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
  }

  .article-content {
    position: static;
    padding: var(--spacing-500) var(--spacing-500) var(--spacing-500)
      var(--spacing-400);
  }

  .article-author {
    margin-top: 0;
  }

  .share-container {
    position: relative;
  }

  #share-popup {
    border-radius: 0.625rem;
    width: fit-content;
    left: var(--spacing-200);
    transform: translate(-50%, -100%);
    padding: 1.125rem 2.375rem;
    line-height: 1.25rem;
    box-shadow: 0 0.625rem 0.625rem 0 rgba(201, 213, 225, 0.5);

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-left: 0.75rem solid transparent;
      border-right: 0.75rem solid transparent;
      border-top: 0.75rem solid var(--color-grey-900);
    }
  }
}

@media (min-width: 90rem) {
  .article-card {
    margin-inline: 0;
  }

  .article-content {
    padding: 1.875rem var(--spacing-400);
  }

  .article-image {
    min-width: 14.375rem;
    height: auto;
    object-fit: cover;
  }
}
